#tsparticles {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.logo{
height: 130px;
width: 300px;
margin-left: 21rem;
}
.my-txt{

  margin-bottom:50px;
  color: #000000;
}

.hero-btn{
  margin-right: 10px;
}
.auth-form{
  box-shadow: 2px 2px 3px 3px #f1e8fd;
}

.text{
  font-size: 18px;
  font-weight: 700px;
}
.or-text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.or-text:before,
.or-text:after {
  content: "";
  width: 10%;
  height: 2px;
  background: #000;
}

.or-text:before{
  margin: 0 20px 0 0;
}

.or-text:after{
  margin: 0 0 0 20px;
}
@media only screen and (max-width: 400px){
  .logo{
    margin-left: 5rem;
    height: 100px;
width: 200px;
  }
  .my-txt{
font-size: 24px;
  }
  
}

